*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#canvas{
	position: absolute;
	left: 350px;
	top: 0;
	right: 0;
	bottom: 0;
}

.timeline__wrapper{
	position: absolute;
	left: 0;
	top: 0;
	width: 350px;
	height: 100%;
	overflow: auto;

	/*background: #E6EAED;*/
	background: #fff;
}

.timeline{
	width: 100%;
	height: 100%;
	overflow: visible;
}

.timeline--fixed{
	position: fixed;
	top: 0;
	left: 0;
	height: 200px;
	width: 100%;

	pointer-events: none;
}

.timeline__switch{
	position: absolute;
	top: 75px;
	left: 65px;
	width: 22px;
	height: 22px;
	border-radius: 16px;
	z-index: 1;
	border: 1px solid #ccc;
	margin-top: -18px;
	margin-left: -11px;

	background-image: url(images/clock.svg);
	background-size: 65% 65%;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;

	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

.timeline__switch:after{
	content: 'click to visualise time';
	font-family: 'avenir';
	font-size: 11px;
	color: #ccc;
	position: absolute;
	top: 4px;
	left: 40px;
	width: 200px;
}

.timeline__switch.active, .timeline__switch:hover{
	background-color: rgb(243, 243, 243);
}

.timeline__content__wrapper{
	transition: 0.25s ease opacity;

	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	bottom: 0;
}

.timeline__scroll-down{
	position: fixed;
	bottom: 0px;
	width: 350px;
	height: 80px;
	text-align: center;

	font-family: 'Avenir';
	font-weight: bold;
	font-size: 11px;
	color: black;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#161f26+0,161f26+100&0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00161f26', endColorstr='#161f26',GradientType=0 ); /* IE6-9 */
}

.timeline__scroll-down__inner{
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 1;
	margin-top: 46px;
}

.timeline__scrolldown__arrow{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(images/arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 4px;
}

.timeline__point{
	fill: #777;
	stroke: #fff;
	stroke-width: 4px;
}

.timeline__year{
	font-family: 'Avenir';
	font-weight: bold;
	font-size: 11px;
}
.timeline__evt-label{
	font-family: 'Avenir';
	font-weight: normal;
	font-size: 14px;
	fill: #2B2B2B;
}

.timeline__point--driver,
.timeline__year--driver{
	fill: #ff0000;
}
.timeline__point--marine,
.timeline__year--marine{
	fill: #15D2B6;
}
.timeline__point--aviation,
.timeline__year--aviation{
	fill: #0094ff;
}
.timeline__point--rail,
.timeline__year--rail{
	fill: #FFC000;
}
.timeline__point--cars,
.timeline__year--cars{
	fill: #e643bd;
}
.timeline__point--space,
.timeline__year--space{
	fill: rgb(181, 0, 255);
}

.timeline__content{
	position: relative;
	margin-left: 65px;
	width: 285px;
	height: auto;
	padding: 32px;
	color: #4E4E4E;
	font-size: 11px;
	font-family: 'Avenir';
}

.timeline__content--driver .number{
	color: #ff0000;
}
.timeline__content--marine .number{
	color: #15D2B6;
}
.timeline__content--aviation .number{
	color: #0094FF;
}
.timeline__content--rail .number{
	color: #FFC000;
}
.timeline__content--cars .number{
	color: #e643bd;
}
.timeline__content--space .number{
	color: rgb(181,0, 255);
}

.timeline__content--active{
	color: #eee;
}

.timeline__content__graph{
	width: 100%;
	height: auto;
	margin-top: 16px;
}

.timeline__end{
	margin-top: -37px;
}

.cite{
	color: #D2D2D2;
	text-decoration: none;
}

.legend{
	position: absolute;
	left: 366px;
	bottom: 16px;
	right: 16px;
	height: 32px;

	background-image: url('images/legend.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;

	-webkit-transform: translateY(48px);
	-moz-transform: translateY(48px);
	transform: translateY(48px);

	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;

	opacity: 0;
}

.legend.show{
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);

	opacity: 0.6;
}

.info-btn{
	position: absolute;
	right: 16px;
	top: 16px;
	width: 22px;
	height: 22px;
	border: 2px solid #ccc;
	border-radius: 16px;
	z-index: 4;

	background-image: url('images/info.svg');
	background-size: 62% 62%;
	background-repeat: no-repeat;
	background-position: 48% 48%;

	cursor: pointer;
}

.info-btn:hover{
	background-color: rgb(243, 243, 243);
}
.info-btn.close{
	background-image: url('images/close.svg');
	background-size: 45% 45%;
	background-position: 50% 50%;
}

.info{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(255, 255, 255, 0.9);

	padding-left: 400px;
	display: none;
}

.info__logo{
	margin-top: 75px;
	width: 100%;
	height: 60px;
	background-image: url('images/logo.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
.info__logo-hi{
	position: absolute;
	width: 125px;
	height: auto;
	bottom: 16px;
	right: 16px;
}

.info p {
	margin-top: 0;
	margin-bottom: 1em;
}

.info__text{
	margin-top: 16px;
	font-family: 'Avenir';
	font-size: 12px;
	color: black;
	max-width: 700px;
}

.info__text__name{
	color: #00B8F5;
}

.info__buttons{
	margin-top: 16px;
}
.info__buttons li{
	float: left;
	margin-left: 0;
	margin-right: 8px;

	list-style: none;
}
.info__buttons a{
	text-decoration: none;
	color: black;

	padding: 4px 6px;
	border: 2px solid black;

	font-family: 'Avenir';
	font-size: 13px;
	font-weight: bold;

	-webkit-transition: 0.2s ease background;
	-moz-transition: 0.2s ease background;
	transition: 0.2s ease background;
}
.info__buttons a:hover{
	background: white;
}

.legend--bullets li{
	list-style: none;
	line-height: 1.4em;
}

.legend--bullets .bullet{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: black;
	border-radius: 12px;
	margin-right: 6px;
	vertical-align: middle;
}
	.bullet.driver{
		background-color: #ff0000;
	}
	.bullet.marine{
		background-color: #15D2B6;
	}
	.bullet.aviation{
		background-color: #0094FF;
	}
	.bullet.rails{
		background-color: #FFC000;
	}
	.bullet.cars{
		background-color: #e643bd;
	}
	.bullet.space{
		background-color: rgb(181,0, 255);
	}
