*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#canvas{
	position: absolute;
	left: 350px;
	top: 0;
	right: 0;
	bottom: 0;
}

.timeline__wrapper{
	position: absolute;
	left: 0;
	top: 0;
	width: 350px;
	height: 100%;
	overflow: auto;

	/*background: #E6EAED;*/
	background: #161F26;
}

.timeline{
	width: 100%;
	height: 100%;
	overflow: visible;
}

.timeline--fixed{
	position: fixed;
	top: 0;
	height: 200px;
	width: 100%;

	pointer-events: none;
}

.timeline__switch{
	position: absolute;
	top: 16px;
	right: 16px;
	width: 16px;
	height: 16px;
	background: black;
	border-radius: 16px;
	z-index: 99;
}

.timeline__content__wrapper{
	transition: 0.25s ease opacity;
}

.timeline__scroll-down{
	position: fixed;
	bottom: 0px;
	width: 350px;
	height: 50px;
	text-align: center;

	font-family: 'Avenir';
	font-weight: bold;
	font-size: 11px;
	color: white;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#161f26+0,161f26+100&0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(22,31,38,0) 0%, rgba(22,31,38,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(22,31,38,0) 0%,rgba(22,31,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(22,31,38,0) 0%,rgba(22,31,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00161f26', endColorstr='#161f26',GradientType=0 ); /* IE6-9 */
}

.timeline__scroll-down__inner{
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 1;
}

.timeline__scrolldown__arrow{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(arrow.svg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 4px;
}

.timeline__point{
	fill: #777;
	stroke: #161F26;
	stroke-width: 4px;
}

.timeline__year{
	font-family: 'Avenir';
	font-weight: bold;
	font-size: 11px;
}
.timeline__evt-label{
	font-family: 'Avenir';
	font-weight: normal;
	font-size: 14px;
	fill: #ccc;
}

.timeline__point,
.timeline__year{
	cursor: pointer;
}

.timeline__point--driver,
.timeline__year--driver{
	fill: #ff0000;
}
.timeline__point--marine,
.timeline__year--marine{
	fill: #15D2B6;
}
.timeline__point--aviation,
.timeline__year--aviation{
	fill: #0094ff;
}
.timeline__point--rail,
.timeline__year--rail{
	fill: #ebe815;
}
.timeline__point--cars,
.timeline__year--cars{
	fill: #e643bd;
}
.timeline__point--space,
.timeline__year--space{
	fill: rgb(181, 0, 255);
}

.timeline__content{
	position: absolute;
	left: 65px;
	width: 285px;
	height: auto;
	padding: 32px;
	color: #aaa;
	font-size: 11px;
	font-family: 'Avenir';
}

.timeline__content--driver .number{
	color: #ff0000;
}
.timeline__content--marine .number{
	color: #15D2B6;
}
.timeline__content--aviation .number{
	color: #0094FF;
}
.timeline__content--rail .number{
	color: #ebe815;
}
.timeline__content--cars .number{
	color: #e643bd;
}
.timeline__content--space .number{
	color: rgb(181,0, 255);
}

.timeline__content--active{
	color: #eee;
}

.cite{
	color: #585858;
}
